.title-block {
  text-align: center;
}

.container-section {
  margin: 0;
  padding: 0;
  padding-bottom: 5rem;
}

.add-button {
  position: fixed;
  left: 15px;
  bottom: 15px;
}

.finish-button {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
